.detail {
  background-color: $main-color;
  position: relative;
}

.detail__container {
  box-sizing: border-box;
  padding: 0 10px;
  padding-top: 20px;
  padding-bottom: 270px;
  margin-bottom: 20px;
}

.detail__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 290px;
  width: 100%;
  width: 100vw;
  background-image: url("../img/bg-item1.jpg");
  background-size: cover;
  background-position: 100% bottom;
  background-repeat: no-repeat;
  box-shadow: inset 0 30px 30px $main-color;
}

.detail__text {
  @include indent;

  margin-bottom: 28px;
  color: #1c1c1c;
}

.detail__title {
  @include font-style(24px, 29px, 300);
  @include indent;

  margin-bottom: 20px;
  color: $color-h1;
}

.detail__list {
  @include list;

  counter-reset: li;
  margin-bottom: 18px;
  padding-right: 10px;

  & li {
    position:relative;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 12px;
    color: #1d1d1d;

    &::before {
      @include font-style(32px, 38px, 300);

      content: counter(li);
      counter-increment: li;
      position:absolute;
      top: -2px;
      left: 0;
      width: 10px;
      color: $accent-color;
    }
  }
}

.detail__btn {
  @include font-style(18px, 22px, 500);

  color: #fff;
  background-color: $accent-color;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 11px 25px;
  position: relative;
  z-index: 10;

  &:hover,
  &focus {
    background-color: #ffffff;
    color: $accent-color;
  }

  &:active {
    opacity: 0.5;
  }
}

@include respond-to(large) {
  .detail {
    width: 100vw;
    min-height: 960px;
    margin: 0;
    background-image: url("../img/bg-item1.jpg");
    background-size: 100% 100%;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 11vw;

    &--self {
      left: -97.3%;
    }

    &--invest {
      left:-214%;
    }
    &--investor {
      left:-330.6%;
    }
  }

  .detail__container {
    width: $container-xl;
    margin:  $center;
    padding: 0;
  }
  .detail__text {
    @include font-style(18px, 24px, 300);

    margin-bottom: 3%;
    width: 57%;
  }

  .detail__title {
    margin-bottom: 30px;
  }

  .detail__list {
    @include font-style(18px, 22px, 300);

    margin-bottom: 3.8%;
    padding-right: 0;
    width: 57%;

    & li {
      margin-bottom: 20px;
    }
  }

  .detail__img {
    display: none;
  }
}
