@include font-face("PFDinTextPro", "../fonts/pfdintextpro", 400, normal);
@include font-face("PFDinTextPro", "../fonts/pfdintextpro-medium", 500, normal);
@include font-face("PFDinTextPro", "../fonts/pfdintextpro-light", 300, normal);

body {
  font-family: "PFDinTextPro", "Arial", sans-serif;
  color: $text-color;
  background-color: $main-color;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 250px;

  @include font-style(16px, 19px, 300);
}
