$accent-color: #009e82;
$text-color: #242424;
$color-h1: #171717;
$link-color: #2b2b2b;
$main-color: #f3f2da;
$second-color: rgba(#fafaf0, 0.6);
$center: 0 auto;
$breakpoints: (
  "small": 380px,
  // "medium": 660px,
  "large": 960px,
);

$container-xs: 89.47%;
$container-xl: 63.17%;
